*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 400px;
    height: 550px;
    background: rgba(255, 255, 255, 0.25);
    margin: 0 20px;
    border-radius:  10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}